<div>
  <mat-card class="title-card">
    <mat-card-title>
      Pending requests
    </mat-card-title>
  </mat-card>
<div class="container">
  <app-table
    (actionClickedEvent)="this.onAction($event)"
    (pageChangedEvent)="this.loadPendingRequests($event)"
    [data]="this.bookManagementRequests"
    [defaultActions]="this.defaultActionDefinition"
    [numberOfElements]="this.numberOfElements"
    [pageSize]="this.pageSize"
    [tableColumnDefinition]="this.columnDefinition">
  </app-table>
</div>
</div>
