<ng-template #emptyCart>
  <div class="card">
    <mat-card class="empty-cart-card" fxLayoutAlign="center center">
      <mat-card-content>
        <div class="options" fxLayout="column" fxLayoutAlign="space-between center">
          <p class="info">Your bag is empty. Do you want to continue shopping</p>
          <button mat-flat-button (click)="this.navigateToBooks();">Yes</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<div class="container"  *ngIf="this.booksForPurchase && this.booksForPurchase.length !== 0; else emptyCart">
  <mat-card class="title-card">
    <mat-card-title>
      Shopping cart
    </mat-card-title>
  </mat-card>
<app-table
           [data]="this.booksForPurchase"
           [tableColumnDefinition]="this.columnDefinitions"
           [defaultActions]="this.defaultActions"
           (actionClickedEvent)="this.deleteBookPurchase($event)"></app-table>
<button color="primary" mat-flat-button class="reserve-button" (click)="this.reserveBooks()">Reserve books</button>
</div>
