<div class="card-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="card">
    <div class="header">
      <mat-card-title>E-bookstore</mat-card-title>
    </div>
    <div class="card-content">
      <mat-card-content class="content">
        <form [formGroup]="this.loginForm" (ngSubmit)="this.onSubmit()">
          <h2>Log in</h2>
          <p>
            <mat-form-field class="form-field">
              <input type="email" matInput placeholder="email" formControlName="email">
              <mat-error>
                Email not valid
              </mat-error>
            </mat-form-field>
          </p>
          <p>
          <mat-form-field class="form-field">
            <input type="password" matInput placeholder="password" formControlName="password">
            <mat-error>
              Password not valid
            </mat-error>
          </mat-form-field>
          </p>
        <div class="actions">
          <button mat-flat-button color="primary" class="login-button" type="submit">Login</button>
          <a class="register-link" (click)="this.redirectToRegister()">Don't have an account yet? Register</a>
        </div>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>
