<div class="register-representative-container" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="card">
    <div class="header">
      <mat-card-title>E-bookstore</mat-card-title>
    </div>
    <div class="card-content">
      <mat-card-content class="content">
        <form (ngSubmit)="this.registerRepresentativeUser()" [formGroup]="this.registerRepresentativeForm">
          <h2>Register</h2>
          <mat-form-field class="form-field">
            <input formControlName="firstName" matInput placeholder="First Name" type="text">
            <mat-error>
              Firstname not valid
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input formControlName="lastName" matInput placeholder="Last Name" type="text">
            <mat-error>
              Lastname not valid
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input formControlName="email" matInput placeholder="E-Mail" type="email">
            <mat-error>
              Email not valid
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input formControlName="password" matInput placeholder="Password" type="password">
            <mat-error>
              Password not valid
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input formControlName="rePassword" matInput placeholder="Password" type="password">
            <mat-error>
              Password not valid
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input formControlName="representativeRegistrationKey" matInput placeholder="Representative Registration Key" type="password">
            <mat-error>
              Invalid registration key
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="this.error">
            {{this.error}}
          </mat-error>
          <div class="actions" fxLayout="row" fxLayoutAlign="space-between stretch">
            <button class="login-button" color="primary" mat-flat-button type="submit">Register</button>
            <a (click)="this.redirectToLogin()" class="register-link">Back to login</a>
          </div>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>
