<div fxLayout="column" fxLayoutAlign="center center">
<div fxLayout="row" fxLayoutAlign="center center">
  <button (click)="this.showFormForCreatingBookRequests()" class="option" color="primary" mat-flat-button>
    Add Books
  </button>
  <button (click)="this.showFormForCreatingBook()" class="option" color="primary"
          mat-flat-button>Create book
  </button>
</div>

<div class="form-container">
  <div *ngIf="this.showFormForBookRequests" class="form">
    <div style="text-align:center">
      <h1>
        Add Books
      </h1>
    </div>
    <app-dynamic-form (actionCalled)="this.handleAction($event)" (submit)="this.createBookRequest($event)"
                      *ngIf="this.fieldConfigs.length > 0"
                      [fields]="this.fieldConfigs">
    </app-dynamic-form>
  </div>
</div>

<div class="form-container">
  <div *ngIf="this.showFormForNewBooks" class="form">
    <div style="text-align:center">
      <h1>
        Create book
      </h1>
    </div>
    <app-dynamic-form (actionCalled)="this.handleAction($event)" (submit)="this.createBook($event)"
                    *ngIf="this.fieldConfigs.length > 0"
                    [fields]="this.fieldConfigs">
    </app-dynamic-form>
  </div>
</div>
</div>
<div fxLayoutAlign="center center">
  <div class="pending-requests">
    <h1>Pending requests</h1>
    <app-table (pageChangedEvent)="this.loadPendingRequests($event)"
               [data]="this.bookManagementRequests"
               [numberOfElements]="this.numberOfElements"
               [pageSize]="this.pageSize"
               [tableColumnDefinition]="this.columnDefinition"></app-table>
  </div>
</div>

